body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 21, 21);
  padding: 15px;
  color: white;
}

.indexBody{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr;
  grid-template-areas: 
  'indexMain indexLogin';
  background-color: rgb(29, 28, 28);
  border-radius: 25px;
  height: 100vh;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#indexMain{
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
}

h2 {
  color: rgb(100, 255, 49);
}

#indexLogin {
  background-color: rgb(44, 43, 43);
  color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  gap: 5px; /* 10px gap between input fields and buttons */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically (if height is defined) */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex; /* Align buttons side by side */
  margin: 20px;
  gap: 10px; /* Optional gap between buttons */
}

button{
  width: 200px;
}

input[type="text"],
input[type="password"] {
  width: 100%; /* Make inputs take full width */
  padding: 10px; /* Add some padding for aesthetics */
  border-radius: 5px; /* Rounded corners for inputs */
  border: none; /* Remove default border */
  background-color: #333; /* Darker background for inputs */
  color: white; /* White text color */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Lighter color for placeholder text */
}


#indexFooter{
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
}