body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(21, 21, 21);
  padding: 15px;
  color: white;
}

#home-link {
  color: rgb(100, 255, 49);
  text-decoration: none;
}

.bodyDisplay{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 100px;
  grid-template-areas:
  'bodyheader login';
}

.bodyHeader{
  grid-area: bodyheader;
  display: flex;
  align-items: center;
}

#loginPanel{
  grid-area: login;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
}

.mainDisplay{
  display: grid;
  grid-template-rows: 200px 5fr 50px;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-areas: 
  'main maintop secondarytop'
  'main mainbottom mainbottom'
  'footer footer footer';
  border-radius: 25px;
  height: 100vh;

  background-color: rgb(29, 28, 28);
  border-radius: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}



#displayInfo{
  grid-area: main;
  background-color:rgb(44, 43, 43);
  color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

#numberPrimaryDisplay{
  grid-area: maintop;
  background-color: rgb(44, 43, 43);
  color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

#numberSecondDisplay{
  grid-area: secondarytop;
  background-color: rgb(44, 43, 43);
  color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

#taskDisplay{
  grid-area: mainbottom;
  background-color: rgb(44, 43, 43);
  color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

#noteToPatient{
  grid-area: footer;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
}

#currentNumber, #waitingNumber{
  font-size: 2rem;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
}

.footer{
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
}




